.idea/.name
.idea/workspace.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_adapters_4_1_1_aar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_common_4_1_1.xml
.idea/libraries/Gradle__androidx_databinding_databinding_runtime_4_1_1_aar.xml
.idea/libraries/Gradle__androidx_databinding_viewbinding_4_1_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_1_0_aar.xml
.idea/modules/Scorp.iml
.idea/modules/app/Scorp.app.iml
